.search-section {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;


    
    
}

.search-section input{
    flex-grow: 1;
    padding: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.catalog-list{
    overflow-y: scroll;
}

.filter-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    

}

.filter-section{
    padding: 10px 20px 40px 20px;
    background: rgb(255, 255, 255);
    max-width: 300px;
    border-radius: 10px 0 0 10px;
    margin: 100px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
    
}

select {
    text-transform: capitalize;
    font-size: 1rem;
    padding: 5px;
    
    border-radius: 5px;
    margin-bottom: 5px;
}

.filter-option{
    display: flex;
    justify-content: space-between;
    margin-block: 10px;
    align-items: center;
    border-bottom: 1px solid black;
    
 

}

.close-filter {
    
 
    font-size: 1.7rem;
    align-self: flex-end;
    
}

.age-input-section {
    display: flex;
    gap: 10px;
}

.age-input{
    max-width: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(99, 99, 99);
}

