footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
   
}

footer p {
    font-size: 0.6rem;
    padding: 5px;
}

@media (min-width: 1500px) {
    footer p{
        font-size: 1rem;    
    }
 
}