* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: rgb(65 146 176);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    width: 100dvw;
    height: 100dvh;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Lora", serif;
  
  }
  
  h1,
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding-block: 10px;
    display: inline-block;
    text-align: center;
  }
  
  p {
    font-size: 1rem;
  }
  
  
  
  main {
    padding: 10px;
    overflow-y: scroll;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.4);
  
  
  }
  
  footer {
    background-color: white;
    border-top: 1px solid black;
  }
  
  button {
    padding: 5px 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
  }
  
  @media (min-width: 1400px) {
  
    main,
    header {
      padding-inline: 80px;
    }
  
    p {
      font-size: 1.3rem;
    }
  }