* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {


  background-image: url('/grass.jpg');
  
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;

  /* padding: 10px; */
  font-family: "Lora", serif;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;

}

h1 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding-block: 10px;
  display: inline-block;
  text-align: center;
  /* border: 1px solid black; */



}

main{
  padding: 10px;
  overflow-y: scroll;
  flex-grow: 1;
}

footer{
  background-color: white;
  border-top: 1px solid black;
}